{"openapi":"3.0.3","info":{"title":"API Documentation : SUMEDHA HRMS","description":"Your API Description","version":"1.0.0"},"servers":[{"url":"http://medhajhrms.in:80","description":"Inferred Url"}],"tags":[{"name":"attendance-controller","description":"Attendance Controller"},{"name":"basic-error-controller","description":"Basic Error Controller"},{"name":"co-recored-controller","description":"Co Recored Controller"},{"name":"home-controller","description":"Home Controller"},{"name":"leave-controller","description":"Leave Controller"},{"name":"login-controller","description":"Login Controller"},{"name":"mail-controller","description":"Mail Controller"},{"name":"mark-attendance-controller","description":"Mark Attendance Controller"},{"name":"mark-controller","description":"Mark Controller"},{"name":"swip-controller","description":"Swip Controller"},{"name":"utility-controller","description":"Utility Controller"}],"paths":{"/api/v1/calender":{"post":{"tags":["attendance-controller"],"summary":"userLogin","operationId":"userLoginUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttendanceRequestModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/error":{"get":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingPUT","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingDELETE","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"options":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingOPTIONS","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"head":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingHEAD","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"patch":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingPATCH","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"trace":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingTRACE","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/co":{"post":{"tags":["co-recored-controller"],"summary":"CoRocored","operationId":"CoRocoredUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoRequestModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/":{"get":{"tags":["home-controller"],"summary":"Home","operationId":"HomeUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/applyLeave":{"post":{"tags":["leave-controller"],"summary":"leaveInfo","operationId":"leaveInfoUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetLeaveInfoRequestModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/getLeaves":{"post":{"tags":["leave-controller"],"summary":"userLeave","operationId":"userLeaveUsingPOST","parameters":[{"name":"userId","in":"query","description":"userId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/getUserLeaves":{"post":{"tags":["leave-controller"],"summary":"leave","operationId":"leaveUsingPOST","parameters":[{"name":"userId","in":"query","description":"userId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/login":{"post":{"tags":["login-controller"],"summary":"userLogin","operationId":"userLoginUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmpLoginRequestModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/version":{"get":{"tags":["login-controller"],"summary":"appVersion","operationId":"appVersionUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/leaveMail":{"post":{"tags":["mail-controller"],"summary":"userLeaveMail","operationId":"userLeaveMailUsingPOST","parameters":[{"name":"attachmentPath","in":"query","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string","format":"binary"}}},{"name":"empCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"empName","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"lastWorking","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"mailType","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectType","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"reason","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"startDate","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"totalDays","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"userMail","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/mail":{"post":{"tags":["mail-controller"],"summary":"userMail","operationId":"userMailUsingPOST","parameters":[{"name":"attachmentPath","in":"query","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string","format":"binary"}}},{"name":"empCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"empName","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"lastWorking","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"mailType","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectType","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"reason","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"startDate","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"totalDays","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"userMail","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/getTime":{"post":{"tags":["mark-attendance-controller"],"summary":"getT","operationId":"getTUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeRequestModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/mark":{"post":{"tags":["mark-attendance-controller"],"summary":"MarkAttendance","operationId":"MarkAttendanceUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarkAttendanceReqModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/upload":{"post":{"tags":["mark-attendance-controller"],"summary":"FileUploade","operationId":"FileUploadeUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/markin":{"post":{"tags":["mark-controller"],"summary":"MarkAttendance","operationId":"MarkAttendanceUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarkAttendanceReqModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/addSwip":{"post":{"tags":["swip-controller"],"summary":"addSwip","operationId":"addSwipUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwipRequestModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/swip":{"post":{"tags":["swip-controller"],"summary":"userSwip","operationId":"userSwipUsingPOST","parameters":[{"name":"userId","in":"query","description":"userId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/add-dispensary":{"post":{"tags":["utility-controller"],"summary":"insertDispensary","operationId":"insertDispensaryUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DispensaryRequestModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/birthday":{"get":{"tags":["utility-controller"],"summary":"birth","operationId":"birthUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/forgetPass":{"post":{"tags":["utility-controller"],"summary":"utility","operationId":"utilityUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeRequestModel"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/notification":{"get":{"tags":["utility-controller"],"summary":"getNotification","operationId":"getNotificationUsingGET","parameters":[{"name":"userId","in":"query","description":"userId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/show-dispencery":{"post":{"tags":["utility-controller"],"summary":"dispencery","operationId":"dispenceryUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/today":{"get":{"tags":["utility-controller"],"summary":"todayTought","operationId":"todayToughtUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/workAnniversary":{"get":{"tags":["utility-controller"],"summary":"work","operationId":"workUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"components":{"schemas":{"AttendanceRequestModel":{"title":"AttendanceRequestModel","type":"object","properties":{"endDate":{"type":"string"},"startDate":{"type":"string"},"userId":{"type":"string"}}},"CoRequestModel":{"title":"CoRequestModel","type":"object","properties":{"appliedDate":{"type":"string"},"approver1":{"type":"string"},"approver2":{"type":"string"},"endDate":{"type":"string"},"fdays":{"type":"string"},"fhalf":{"type":"string"},"leaveType":{"type":"string"},"reason":{"type":"string"},"startDate":{"type":"string"},"tdays":{"type":"string"},"thalf":{"type":"string"},"totalLeave":{"type":"number","format":"double"},"userId":{"type":"string"}}},"DispensaryRequestModel":{"title":"DispensaryRequestModel","type":"object","properties":{"cityName":{"type":"string"},"dispensaryName":{"type":"string"},"empCode":{"type":"string"},"empName":{"type":"string"},"stateName":{"type":"string"}}},"EmpLoginRequestModel":{"title":"EmpLoginRequestModel","type":"object","properties":{"empId":{"type":"string"},"password":{"type":"string"}}},"MarkAttendanceReqModel":{"title":"MarkAttendanceReqModel","type":"object","properties":{"baseLocation":{"type":"string"},"markInLocation":{"type":"string"},"markOption":{"type":"string"},"markOutLocation":{"type":"string"},"msplId":{"type":"string"},"name":{"type":"string"},"projectType":{"type":"string"}}},"ModelAndView":{"title":"ModelAndView","type":"object","properties":{"empty":{"type":"boolean"},"model":{"type":"object"},"modelMap":{"type":"object","additionalProperties":{"type":"object"}},"reference":{"type":"boolean"},"status":{"type":"string","enum":["ACCEPTED","ALREADY_REPORTED","BAD_GATEWAY","BAD_REQUEST","BANDWIDTH_LIMIT_EXCEEDED","CHECKPOINT","CONFLICT","CONTINUE","CREATED","DESTINATION_LOCKED","EXPECTATION_FAILED","FAILED_DEPENDENCY","FORBIDDEN","FOUND","GATEWAY_TIMEOUT","GONE","HTTP_VERSION_NOT_SUPPORTED","IM_USED","INSUFFICIENT_SPACE_ON_RESOURCE","INSUFFICIENT_STORAGE","INTERNAL_SERVER_ERROR","I_AM_A_TEAPOT","LENGTH_REQUIRED","LOCKED","LOOP_DETECTED","METHOD_FAILURE","METHOD_NOT_ALLOWED","MOVED_PERMANENTLY","MOVED_TEMPORARILY","MULTIPLE_CHOICES","MULTI_STATUS","NETWORK_AUTHENTICATION_REQUIRED","NON_AUTHORITATIVE_INFORMATION","NOT_ACCEPTABLE","NOT_EXTENDED","NOT_FOUND","NOT_IMPLEMENTED","NOT_MODIFIED","NO_CONTENT","OK","PARTIAL_CONTENT","PAYLOAD_TOO_LARGE","PAYMENT_REQUIRED","PERMANENT_REDIRECT","PRECONDITION_FAILED","PRECONDITION_REQUIRED","PROCESSING","PROXY_AUTHENTICATION_REQUIRED","REQUESTED_RANGE_NOT_SATISFIABLE","REQUEST_ENTITY_TOO_LARGE","REQUEST_HEADER_FIELDS_TOO_LARGE","REQUEST_TIMEOUT","REQUEST_URI_TOO_LONG","RESET_CONTENT","SEE_OTHER","SERVICE_UNAVAILABLE","SWITCHING_PROTOCOLS","TEMPORARY_REDIRECT","TOO_EARLY","TOO_MANY_REQUESTS","UNAUTHORIZED","UNAVAILABLE_FOR_LEGAL_REASONS","UNPROCESSABLE_ENTITY","UNSUPPORTED_MEDIA_TYPE","UPGRADE_REQUIRED","URI_TOO_LONG","USE_PROXY","VARIANT_ALSO_NEGOTIATES"]},"view":{"$ref":"#/components/schemas/View"},"viewName":{"type":"string"}}},"SetLeaveInfoRequestModel":{"title":"SetLeaveInfoRequestModel","type":"object","properties":{"approverOneMtc":{"type":"string"},"approverOneName":{"type":"string"},"approverTwoMtc":{"type":"string"},"approverTwoName":{"type":"string"},"avalableleave":{"type":"string"},"cl":{"type":"string"},"co":{"type":"string"},"empId":{"type":"string"},"fromdate":{"type":"string"},"fromdaymode":{"type":"string"},"fromshift":{"type":"string"},"leaveType":{"type":"string"},"lwp":{"type":"string"},"ml":{"type":"string"},"pl":{"type":"string"},"projectType":{"type":"string"},"reason":{"type":"string"},"todate":{"type":"string"},"todaymode":{"type":"string"},"tooshift":{"type":"string"},"totalDays":{"type":"string"},"uploadImage":{"type":"string"},"userName":{"type":"string"}}},"SwipRequestModel":{"title":"SwipRequestModel","type":"object","properties":{"attendanceApproverId":{"type":"string"},"inTime":{"type":"string"},"outTime":{"type":"string"},"projectType":{"type":"string"},"reqDate":{"type":"string"},"reson":{"type":"string"},"status":{"type":"string"},"swipMode":{"type":"string"},"swipType":{"type":"string"},"userId":{"type":"string"},"userName":{"type":"string"}}},"TimeRequestModel":{"title":"TimeRequestModel","type":"object","properties":{"userId":{"type":"string"}}},"View":{"title":"View","type":"object","properties":{"contentType":{"type":"string"}}}}}}
